
name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: yarn install, build
      run: |
        yarn
        yarn build

    - name: cp archive
      run: |
        rm -rf pages/lib pages/node_modules
        mkdir pages/node_modules pages/lib
        cp -a node_modules/xterm pages/node_modules
        cp -a node_modules/xterm-addon-search  pages/node_modules
        cp -a lib pages

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./pages
